<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZsrM6113irBRWKCGWQZ2_fUZ4oiSPurc</string>
	<key>GCM_SENDER_ID</key>
	<string>348472260886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harvestyard</string>
	<key>PROJECT_ID</key>
	<string>harvest-yards</string>
	<key>STORAGE_BUCKET</key>
	<string>harvest-yards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348472260886:ios:e5bc6ff32ef66bee0c3837</string>
</dict>
</plist>